server:
  listen: 0.0.0.0@53
  listen: ::@53

policy:
  - id: hns-dane-manual
    manual: on
    algorithm: ECDSAP256SHA256

zone:
  - domain: {{ZONE}}
    storage: {{ZONE_DIR}}
    file: {{ZONE_FILE}}
    dnssec-signing: on
    dnssec-policy: hns-dane-manual
    semantic-checks: on
